# Ejemplo de variables de entorno para el proyecto

DJANGO_SECRET_KEY=tu_secret_key_segura
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=db_control_acceso
DB_USER=root
DB_PASSWORD=123456
DB_HOST=localhost
DB_PORT=3306

VALIDACION_URL_BASE=http://localhost:8000
